@charset "utf-8";
/* CSS Document */

#mainholder {
	text-align:left;
	margin-top: 0;
	clear: both;
	float: none;
}
#top_image {
	text-align: left;
	padding: 20px;
}
.sub-banner {
	width: 100%;
}
.header-contact {
    font-size: 1.8rem;
    font-weight: 900;
    /* color: #000000 !important; */
    font-family: 'Anton', sans-serif;
}

h2.page-title {
	font-size: 2rem;
}

.text-blue {
	color: #1b155f;
}

.heading-small {
	font-size: 1.5rem;
}

a.header-contact:link {
    color: #ff7e00;
}

#navigation {
    display: flex;
    justify-content: center;
	align-items: center;
	background-color: #ff7e00;
}
#banner {
	height: 2px;
	width: 932px;
	background-color: #FFF;
	float: left;
	padding-right: 14px;
	padding-left: 14px;
}
#footer {
	height: auto;
	width: 100%;
	text-align: left;
	float: left;
	background-color: #FFF;
}
#footer-bottom {
	height: 30px;
	width: 100%;
	text-align: center;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	background-color: #1C1C1C;
	box-sizing: border-box;
}
#footer-copyright {
	height: 20px;
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #666;
	text-align: center;
}
.content-full-width {
	height: auto;
	width: 900px;
	padding-top: 0px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 20px;
	float: left;
}
.content-full-width-central {
	height: auto;
	width: 900px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 10px;
	margin-right: 20px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top;
    padding-bottom: 20px
}
.content-full-width-central-product-category {
	height: auto;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top;
    padding-bottom: 20px
}
.content-full-width-border {
	height: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 10px;
	margin-right: 20px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top;
	background-color: #ff7e00;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* ========== Generic ========== */

.row {
	display: flex;
}
.p-1 {
	padding: 1em;
}
.p-02 {
	padding: 0.2em;
}
.px-1 {
	padding-left: 1em;
	padding-right: 1em;
}
.py-1 {
	padding-top: 1em;
	padding-bottom: 1em;
}
.pb-1 {
	padding-bottom: 1em;
}
.pb-02 {
	padding-bottom: 0.2em;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.333%;
}
.col-6 {
	width: 50%;
}
.col-8 {
	width: 66.666%;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.no-underline-link:hover {
	text-decoration: none;
}
.flex {
	display: flex;
}
.flex-justify-streatch {
	justify-content: stretch;
}
.flex-vertical {
	flex-direction: column;
}
.flex-1 {
	flex: 1;
}
.bg-light-gray {
	background-color: #f2f1ef;
}
.font-2 {
	font-size: 2rem;
}

/* ========== End Generic ========== */

/* ========== UI Components ========== */

/* ========== Image Card ========== */

.image-card {
	border-radius: 5px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	background-color: white;
	transition: 0.5s;
}

.image-card:hover {
	box-shadow: 0 1px 10px #ccc;
}

.image-card img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	transition: 0.5s;
}

.image-card:hover img {
	transform: scale(1.04);
}

.image-card .image-card-info {
	padding: 10px;
	background-color: white;
	position: relative;
	z-index: 100;
}

.image-card h3 {
	background-color: white;
	border-bottom: 1px solid #dfdfdf;
	text-align: left;
	padding-bottom: 0.5em;
	color: #1b155f;
}

.image-card p {
	text-align: left;
}

/* ========== End Image Card ========== */

/* ========== End UI Components ========== */

.testimonial-bar {
	height: auto;
	width: 450px;
	float: left;
}
.testimonial_wrapper {
	float: left;
	height: auto;
	width: 440px;
}
.testimonial-top {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-image: url(img/testimonial-top.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: auto;
	width: 370px;
	padding-top: 50px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #f5f5f5;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 45px;
	margin-left: 10px;
	padding-bottom: 35px;
}
.testimonial-top-small {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-image: url(images/testimonial-top.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: auto;
	width: 160px;
	padding-top: 50px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #f5f5f5;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 35px;
}
.side-photo {
	height: auto;
	width: 210px;
}
.image_left {
	margin-right: 15px;
}
.image_right {
	margin-left: 15px;
}
h1 {
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	color: #ff7e00;
	font-weight: 400;
	margin-bottom: 18px;
	margin-top: 0px;
}
h2 {
	font-family: 'Anton', sans-serif;
	font-size: 27px;
	color: #ff7e00;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	font-style: normal;
	text-transform: uppercase;
}
.feature-icons {
	font-size: 5rem;
	color: #ff7e00;
}
.feature-icon-text {
	color: #1b155f;
}
#contact-top {
	height: 130px;
	width: 100%;
	margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3 {
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	color: #363636;
	margin-bottom: 8px;
	margin-top: 12px;
	font-style: normal;
	font-weight: 300;
}
h4 {
	font-family: 'Anton', sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 12px;
	font-style: normal;
}
p {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #666;
	line-height: 22px;
	margin-bottom: 8px;
	margin-top: 12px;
	font-weight: 400;
}
li {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
	line-height: 16px;
	margin-bottom: 8px;
	margin-top: 12px;
    list-style-type: disclosure-closed;
}
.breadcrumb {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.banner {
    width: 100%;
}
.content-area-invis {
	height: auto;
	width: 920px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}
.content-area-invis-product-category {
	height: auto;
	width: 95%;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

.footer-logos {
	width: 100%;
}

/* ================== Form ================== */

.form-style-6 {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 24px;
	background: rgba(0,0,0,.5);
	border-radius: 10px;
}
.home-page-form-1 {
	box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	background: linear-gradient(45deg,#ff7e00,#ffbf44);
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #1b155f;
	border-bottom: 2px solid #09033d;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
	cursor: pointer;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #074c9c;
}	

/* ================== End Form ================== */

.nav-button {
	font-family: 'Montserrat', sans-serif;
	width: auto;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.nav-button a:link {
    color: white;
}
.nav-button a:visited {
    color: white;
}
.btn-primary {
	background-color: #1b155f;
	border-color: #1b155f;
	color: white !important;
	padding: 10px 20px;
	text-decoration: none !important;
}

/* =============== Responsiveness =============== */

	@media (max-width: 1300px) {
		body {
			width: 150vw;
		}
	}

/* =============== End Responsiveness =============== */

.mt-1 {
	margin-top: 1em;
}
.display-block {
	display: block;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a.side:link {
	color: #FFF;
	text-decoration: none;
}
a.side:visited {
	text-decoration: none;
	color: #FFF;
}
a.side:hover {
	text-decoration: underline;
	color: #FFF;
}
a.side:active {
	text-decoration: none;
	color: #CCCCCC;
}
.appleLinks a {color:#000000;}
.appleLinksWhite a {color:#ffffff;}
